In [26]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [27]:
load_dataset = pd.read_excel("crime.xlsx")

In [28]:
load_dataset.head()

,State,Year,Gender,Location,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
0,Delhi,2010,Female Victims,Hauz khas,14,152,2,12,9,74,41
1,Delhi,2011,Female Victims,Vasant vihar,14,130,3,6,2,69,36
2,Delhi,2012,Female Victims,Vasant kunj,23,131,6,8,7,44,43
3,Delhi,2013,Female Victims,Palam,16,125,7,14,7,51,30
4,Delhi,2014,Female Victims,Dwarka,15,158,3,7,3,87,43

In [29]:
load_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   78 non-null     object
 1   Year                    78 non-null     int64
 2   Gender                  78 non-null     object
 3   Location                78 non-null     object
 4   Victims_Above_50_Yrs    78 non-null     int64
 5   Victims_Total           78 non-null     int64
 6   Victims_Upto_10_15_Yrs  78 non-null     int64
 7   Victims_Upto_10_Yrs     78 non-null     object
 8   Victims_Upto_15_18_Yrs  78 non-null     int64
 9   Victims_Upto_18_30_Yrs  78 non-null     int64
 10  Victims_Upto_30_50_Yrs  78 non-null     int64
dtypes: int64(7), object(4)
memory usage: 6.8+ KB

In [30]:
#Extracting Relevant Features 
#Onething is to be noticed here that we are taking values individually 

dataset = pd.DataFrame()
dataset['State'] = load_dataset["State"]
dataset["Year"] = load_dataset["Year"]
dataset["Total_cases"] = load_dataset["Victims_Total"]

In [31]:
dataset.head()

   State  Year  Total_cases
0  Delhi  2010          152
1  Delhi  2011          130
2  Delhi  2012          131
3  Delhi  2013          125
4  Delhi  2014          158

In [32]:
dataset.State.unique()

array(['Delhi', 'Haryana', 'Chandigarh', 'Goa'], dtype=object)

In [33]:
#NOw dealing with Categorical features.

from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()

In [35]:
dataset.iloc[:,0] = le.fit_transform(dataset.iloc[:,0])

/tmp/ipykernel_4771/3353340195.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataset.iloc[:,0] = le.fit_transform(dataset.iloc[:,0])

In [36]:
#0 - chandigarh 
#1 - Delhi 
#2 - Goa 
#3 - Haryana

In [37]:
dataset.head()

   State  Year  Total_cases
0      1  2010          152
1      1  2011          130
2      1  2012          131
3      1  2013          125
4      1  2014          158

In [38]:
dataset.sample(10)

    State  Year  Total_cases
11      3  2012          151
10      3  2011          156
66      0  2018           19
3       1  2013          125
52      2  2014           14
62      0  2014           15
0       1  2010          152
69      2  2011           24
4       1  2014          158
23      1  2015          360

In [39]:
#Separate the features and Labels 

x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [40]:
x.head()

   State  Year
0      1  2010
1      1  2011
2      1  2012
3      1  2013
4      1  2014

In [41]:
y.head()

0    152
1    130
2    131
3    125
4    158
Name: Total_cases, dtype: int64

In [42]:
#Splitting the Dataset into training and Testing Datasets 
from sklearn.model_selection import train_test_split 


x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 2)

#Now we have the data to train and test

In [43]:
#Training the Model 

from sklearn.linear_model import LinearRegression

In [44]:
regressor = LinearRegression()

#Starting the Training of the Model

regressor.fit(x_train, y_train)

LinearRegression()

In [45]:
y_pred = regressor.predict(x_test)

In [46]:
y_pred

array([312.36218098,  45.27727569, 173.00847331, 348.08793101,
       265.01392091, 229.28817089, 155.1455983 ,  45.27727569,
        -8.31134935, 137.28272329, 357.01936851,   9.55152567,
       101.55697327,  54.20871319, 119.41984828, 247.1510459 ])

In [47]:
pd.DataFrame(
    {
        'ACTUAL': y_test,
        'PREDICTED':y_pred
        
        
    }


)

    ACTUAL   PREDICTED
28     675  312.362181
65      11   45.277276
27     458  173.008473
13     143  348.087931
75      33  265.013921
71      25  229.288171
25     473  155.145598
45       6   45.277276
59      22   -8.311349
23     360  137.282723
14     156  357.019369
41       8    9.551526
1      130  101.556973
66      19   54.208713
21     385  119.419848
53      10  247.151046

## Using  KNN

In [57]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
# Train the model using KNN
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(x_train, y_train)

In [58]:
# Make predictions using KNN
y_pred = knn.predict(x_test)

In [59]:
# Print the actual and predicted values
pd.DataFrame({
    'ACTUAL': y_test,
    'PREDICTED': y_pred
})

    ACTUAL  PREDICTED
28     675      340.4
65      11       72.0
27     458      142.4
13     143      461.0
75      33       22.2
71      25       20.0
25     473      238.0
45       6       72.0
59      22        9.0
23     360      232.0
14     156      502.6
41       8       10.6
1      130      297.4
66      19       73.6
21     385      232.0
53      10       22.6

## Using  Decision Tree Classifier

In [63]:
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state=2)
regressor.fit(x_train, y_train)

DecisionTreeRegressor(random_state=2)

In [64]:
# Make predictions on the testing data
y_pred = regressor.predict(x_test)

In [65]:

# Display the actual and predicted values in a DataFrame
pd.DataFrame(
    {
        'ACTUAL': y_test,
        'PREDICTED': y_pred
    }
)

    ACTUAL  PREDICTED
28     675      143.0
65      11      326.0
27     458      282.0
13     143      669.0
75      33       20.0
71      25       17.0
25     473      126.0
45       6      326.0
59      22        9.0
23     360      127.0
14     156      743.0
41       8       14.0
1      130      411.0
66      19      326.0
21     385      125.0
53      10       30.0